*,
*::before,
*::after {
    box-sizing: border-box;
  }

    /* DESIGN */

:root{
    --ff-primary: 
    --ff-secondary: 

    --fw-reg: 300;
    --fx-bold: 900; 

    --clr-base:     #f7f4f4; /* pentia invinsible */ 
    --clr-txt:      #666565; /* pentia dusk */
    --clr-light:    #5cbfcc; /* pentia aqua */
    --clr-dark:     #0020bf; /* pentia midnight blue */ 
    --clr-box:      #6b9299; /* pentia octain */
    --clr-accent:   #ff5b4c; /* pentia neon */

       

    --fs-h1:    4rem;
    --fs-h2: 1.50rem;
    --fs-h3: 1.25rem;
    --fs-body:  1rem;

}

@media (min-width: 800px) {
  :root{
    --fs-h1:  
    --fs-h2:  
    --fs-h3:  
    --fs-body:
  }
}

    /* STYLES */

body {

  background: var(--clr-base);
  color: var(--clr-txt);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;

}

    /* TYPEGRAFI */

h1,
h2,
h3{
  line-height: 1.1;
  margin: 50px;
  padding: 10px;

}


h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }



    /* CASES */ 


    /* KARRIERE */ 



    /* FOOTER */ 
.footer{
    background: var(--clr-dark);
    color: var(--clr-light);
}