*,
*::before,
*::after {
    box-sizing: border-box;
  }

    /* DESIGN */

:root{
    --ff-primary: 
    --ff-secondary: 

    --fw-reg: 300;
    --fx-bold: 900; 

    --clr-base:     #f6f4f4; /* pentia invisible */ 
    --clr-txt:      #666565; /* pentia dusk */
    --clr-light:    #5cbfcc; /* pentia aqua */
    --clr-dark:     #0020bf; /* pentia midnight blue */ 
    --clr-box:      #6b9299; /* pentia octain */
    --clr-accent:   #ff5b4c; /* pentia neon */

       

    --fs-h1:    4rem;
    --fs-h2: 1.50rem;
    --fs-h3: 1.25rem;
    --fs-body:  1rem;

}

@media (min-width: 800px) {
  :root{
    --fs-h1:  
    --fs-h2:  
    --fs-h3:  
    --fs-body:
  }
}

    /* STYLES */

body {

  background: var(--clr-base);
  color: var(--clr-txt);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;

}

    /* TYPEGRAFI */

h1,
h2,
h3{
  line-height: 1.1;
  margin: 50px;
  padding: 10px;

}


h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }



    /* CASES */ 





   


    /* KARRIERE */ 
    /* HEADER */

.header__nav-menu-container{
  background-color: var(--clr-box);
  color: var(--clr-base);
  min-height: 25em;
}

.header_nav-menu-logo{
  float: left;
  margin-right: 2rem; 
}

.header__nav-menu-items li{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  display: inline;
  margin: 1rem;
}
.header__nav-menu-items ul{
   text-align: center; 
}

.header__nav-menu-items a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.header__button-call-to-action{
  float:right;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background-color: var(--clr-accent);
  color: var(--clr-base);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-right:  10rem;
}

.header__button-call-to-action:hover{
  box-shadow: 0 0 10px #ff5b4c , 0 0 25px #ff5b4c, 0 0 50px #ff5b4c;
 transition-delay: 0.1s;
}

    /* FOOTER */ 
.footer{
    background: var(--clr-dark);
    color: var(--clr-base);
}

.footer__grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5em;
  color: var(--clr-base);
  
}

.footer__grid-item1{
  grid-column-start: 1;
  grid-column-end: 2;


}
.footer__grid-item10 a{
  grid-column-start: 1;
  grid-column-end: 2;
  color: inherit;
}
